/**
 * print.css
 *
 * @author: Vladimir 'Vii' Varankin
 * @copyright: Webway IT Labs (www.webway.ru) | 2009
 */


body{
	background: #fff;
	margin: .2in .45in;
	padding: 0;
	font: 12pt "Times New Roman", Times, serif;
}

/*
 HIDE SECONDARIES
==================================*/
.b-page,
.secondary{
	display: none;
}

/*
 Typo
==================================*/
h1, h2, h3, h4{
	clear: both;
	font-family: Georgia,serif;
	font-weight: normal;
	padding: 0;
	margin: 1em 0 .5em;
}
	h1{
		font-size:180%;
	}
	h2{
		font-size:140%;
		margin: .3em 0 0 0;
	}
	h3{
		font-size: 120%;
	}
	h3{
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 0;
	}

p{
	margin: 0 0 .6em 0;
}

/*
 Links
==================================*/
a{
	color: #000;
	text-decoration: none;
}
	a img{
		border: none;
	}
